<empty name="consign_list">
    <div class="ui-section no-item" id="no-item">暂无数据</div>
<else />
<volist name="consign_list" id="val">
    <div class="ui-section" id="item-{$val['address_id']}">
        <div class="ui-section-hd">
            <eq name="val['is_default']" value="1">
            <h3 style="color:#e43a3d;">默认地址</h3>
            <else />
            <h3><a class="set-default" href="javascript:;" data-id="{$val['address_id']}">设为默认</a></h3>
            </eq>
            <a class="edit" href="{:U('editAddress', array('address_id'=>$val['address_id']))}">修改</a>
            <a class="del" href="javascript:;" data-id="{$val['address_id']}">删除</a>
        </div>
        <div class="ui-section-bd">
            <ul>
                <li class="name">
                    <label>收货人:</label>
                    <span>{$val['consign_name']}</span>
                </li>
                <li class="mobile">
                    <label>手机号码:</label>
                    <span>{$val['mobile']}</span>
                </li>
                <li class="address">
                    <label>收货地址:</label>
                    <span>
                        <volist name=":json_decode($val['area'], true)" id="area">
                            {$area}&nbsp;
                        </volist>
                        {$val['address']}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</volist>
</empty>
