<extend name="Public/base" />
<block name="css">
<link rel="stylesheet" href="__HOME__css/pages/list.css<if condition="C('DEVELOP_MODE') == 1">?t={:time()}</if>">
</block>
<block name="js">
	<script src="__HOME__js/widget/scrollLoad.js"></script>
	<script src="__HOME__js/pages/list.js"></script>
    <script>
		var _page = 0;
        var _listApi = '{:U('Index/lists', array('cate'=>$cate, 'type'=>$type))}';
        function _listMoreHandler(data) {
            if (!window.$listWrap) {
                window.$listWrap = $('#item-list');
            }
            if (data.htmlString) {
                var $list = $(data.htmlString);
                $listWrap.append($list);
				// 设置倒计时
                initCountdown($list.find('[data-endtime]'));
                // 设置图片居中
                initImageCenter($list.find('.img-center'));
                // 设置图片懒加载
                initImageLazy($list.find('.lazy'));
            }
        }
    </script>
</block>
<block name="main">
<div class="am-g">
    <div class="ui-section goods-section">
        <div class="ui-section-bd">
         	<ul class="ui-list goods-list" id="item-list"></ul>
        </div>
    </div>
</div>
</block>
