body {
    padding-top: 50px
}

.ui-section {
    background-color: transparent;
    padding: 0;
    border: none
}

.ui-section-bd {
    padding: 10px 5px
}

.goods-list {
    background-color: transparent;
    padding: 0 5px;
    border-width: 0
}

.goods-list .item {
    background-color: #fff;
    position: relative;
    height: 125px;
    padding: 0;
    margin-bottom: 5px;
    border-width: 0
}

.goods-list .item:before,.goods-list .item:after {
    content: " ";
    display: table
}

.goods-list .item:after {
    clear: both
}

.goods-list .item .am-img-thumbnail {
    float: left;
    width: 125px;
    height: 125px
}

.goods-list .item .img-center {
    padding: 0;
    border: 0
}

.goods-list .item .info {
    height: 125px;
    padding: 5px 10px;
    margin: 0 0 0 125px
}

.goods-list .item .info dt {
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 20px
}

.goods-list .item .info dt a,.goods-list .item .info dt a:active {
    color: #222
}

.goods-list .item .info dd {
    line-height: 20px
}

.goods-list .item .info dt+dd {
    margin-top: 0
}

.goods-list .item .info .money label,.goods-list .item .info .money i,.goods-list .item .info .money em {
    font-size: 12px;
    color: #666
}

.goods-list .item .info .money label {
    margin-right: 3px
}

.goods-list .item .info .reserve {
    position: absolute;
    right: 10px;
    top: 55px
}

.goods-list .item .info .reserve span {
    font-size: 12px
}

.goods-list .item .info .current i,.goods-list .item .info .current em {
    font-size: 17px;
    color: #e43a3d
}

.goods-list .item .info .type {
    background-color: #e43a3d;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 30px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    color: #fff
}

.goods-list .item .info .type.blue {
    background-color: #2e93e0
}

.goods-list .item .info .time,.goods-list .item .info .time-over {
    opacity: 0.75;
    background-color: #000;
    position: absolute;
    left: 30px;
    bottom: 0;
    height: 22px;
    width: 95px;
    padding: 0 5px;
    line-height: 22px;
    font-size: 12px;
    text-align: right;
    color: #fff
}

.goods-list .item .info .time label,.goods-list .item .info .time-over label {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARZJREFUeNq8VoENgyAQBOMAjuAIjsAIbFBHcAQ36AiOYDpB7QS6gSPUDei/eQyhFh+rXnIxEbx//uFQCgaMMQU8Mu/1IKWcxF6AaA68A0fzGz2w3CNeeyIVUDnUFPxNczAJxRHOSBDx5HxEwW2gkite7yhnHwxCS0ZUoWYDW0xmI8HCH1Q00DJ7owIJzOX1B1oayP8JsDqHloZoInaX2ujlopcA7eSHOAB0+DqriwFsQzpxHF7AudypF/lQYNMTcTJStzlrq6CdpYE3p5wTsx+DIF9BaE9YOwfHkB00TPtAmxmD25TOhhXVEXX/1uMetEgnVtFWwdk1q1bBNbsIqy+ut+vTL5xLrswzLn3JDWbNK/a35SPAAIw6Zi68i3AKAAAAAElFTkSuQmCC");
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    text-indent: 500px;
    vertical-align: -1px
}

.goods-list .item .info .time span,.goods-list .item .info .time-over span {
    z-index: 10;
    position: relative;
    color: #fff
}

.goods-list .item .info .time em,.goods-list .item .info .time-over em {
    color: #fff
}

.goods-list .money {
    position: absolute;
    bottom: 5px
}

.goods-list .status {
    position: absolute;
    left: 150px;
    top: 40px
}

.goods-list .status span {
    display: none;
}

.goods-list .status.lead {
    background-image:url(../images/lingxian.png);
    background-size: 105px 60px;
    width: 105px;
    height: 60px;
}

.goods-list .status.out {
    background-image: url(../images/chaoyue.png);
    background-size: 105px 60px;
    width: 105px;
    height: 60px;
}

.goods-list .status.get {
    background-image: url(../images/depai.png);
    background-size: 105px 60px;
    width: 105px;
    height: 60px;
}

.goods-list .status.lost {
    background-image: url(../images/liupai.png);
    background-size: 105px 60px;
    width: 105px;
    height: 60px;
}

.goods-list .status.fail {
    background-image: url(../images/fail.png);
    background-size: 105px 60px;
    width: 105px;
    height: 60px
}