<volist name="product_list" id="val">
<div class="ui-section item" id="item-{$val['product_id']}">
	<div class="ui-section-bd">
		<div class="goods-info" data-page-url="{:U('Index/product', array('id'=>$val['product_id']))}">
			<a class="am-img-thumbnail img-center" href="{:U('Index/product', array('id'=>$val['product_id']))}" style="height: 80px;">
				<img class="lazy" data-height="640" data-original="{$val['product_img']}" data-width="854" src="{$val['product_img']}" style="display: block; max-width: none; width: 106px; height: 80px; margin: 0px -13px;">
			</a>
			<div class="info">
				<h3><a href="{:U('Index/product', array('id'=>$val['product_id']))}">{$val['product_name']}</a></h3>
				<ul>
					<li class="type">{$product_type[$val['product_type']]}</li>
					<switch	name="val['product_type']">
						<case value="1|2">
							<li class="money current"><label>起拍价:</label><i>¥</i><em>{$val['start_price']}</em></li>
							<li class="money reserve"><label>加价幅度:</label><i>¥</i><em>{$val['range_price']}</em></li>
						</case>
						<case value="3">
							<li class="money current"><label>秒杀数:</label><i>¥</i><em>{$val['reserve_price']}</em></li>
							<li class="money reserve"><label>秒杀价:</label><i>¥</i><em>{$val['range_price']}</em></li>
						</case>
					</switch>
					<li class="time">
							<label>距开始:</label>
							<span data-endtime="{$val['begin_time']}"></span>
					</li>
				</ul>
			</div>
		</div><!-- /.goods-info -->
		<ul class="action">
			<li style="width:50%;">
				<a class="view" href="{:U('Index/product', array('id'=>$val['product_id']))}">
					<i class="ys-icon-goods-view"></i><span>查看</span>
				</a>
			</li>
			<li style="width:50%;">
				<a class="offsale" href="javascript:;" data-id="{$val['product_id']}">
					<i class="ys-icon-goods-offsale"></i><span>下架</span>
				</a>
			</li>
		</ul><!-- /.action -->
	</div>
</div>
</volist>
