<div class="hdtop">
	<a href="{:U('lists')}" class="tja">备份列表</a>
	<div class="clear"></div>
</div>
    <div class="hdbot">
    <style media="screen">
        .head910 td {
            background-color:#08a3bb;
            line-height: 33px;
            color: #fff;
            font-size: 14px;
        }
    </style>
    <table width="910" border="0" cellspacing="1" cellpadding="0" class="table1 tab">
        <tr class="head910">
            <td align="center"><input type="checkbox" class="allcheck">表名</td>
            <td align="center">描述</td>
            <td align="center">引擎</td>
            <td align="center">字符集</td>
            <td align="center">数据</td>
            <td align="center">操作</td>
        </tr>
        <volist name="list" id="v">
            <tr>
                <td align="left" style="padding-left:5%"><input type="checkbox" name="id" value="{$v['name']}">{$v['name']}</td>
                <td align="center">{$v['comment']}</td>
                <td align="center">{$v['engine']}</td>
                <td align="center">{$v['collation']}</td>
                <td align="center">{$v['rows']}</td>
                <td align="center">
                    <a href="{:U('export', array('id'=>$v['name']))}" class="xga">备份</a>
                    <!-- <a href="javascript:if(confirm('确认要执行该操作吗?')){location.href='{:U('del?id='. $v['id'])}'}" class="xga">删除</a> -->
                </td>
            </tr>
        </volist>
    </table>
	<style media="screen">
		.position {
			margin-top: 12px;
			height: 25px;
			background-color: #FF9A1A;
			border: 1px solid #E5EB1B;
			color: #FFF;
		}
	</style>
    <div class="tableb">
    	<input type="checkbox" class="allcheck">
        <input type="button" id="del" value="备份" class="scanniu cr">
    </div>
</div>
<script type="text/javascript">
	var Tool = {};
	$(function(){
		$("#del").click(function(){
			var xx = confirm('是否确认操作！');
			if(xx){
				var ids = [];
				$("[name=id]:checkbox:checked").each(function(){
					ids.push($(this).val());
				});
				if (ids.length == 0) {
					alert('请选择操作对象');
					return false;
				}
				$.ajax({
					url: '{:U('export')}',
					type: 'post',
					data: {id: ids},
					dataType: 'json',
					success: function(data){
						if (data.status) {
							alert(data.info);
							location.reload();
						} else {
							alert(data.info);
						}
					},
					error: function(){
						alert('网络异常...');
					}
				});
			}
		});
	})
</script>
