<extend name="Public/base" />
<block name="js">
<script src="__HOME__js/pages/user-feedback.js<if condition="C('DEVELOP_MODE') == 1">?t={:time()}</if>"></script>
</block>
<block name="main">
    <div class="am-g">
        <form class="am-form am-form-horizontal" id="my-form" method="post" action="">
			<div class="ui-list last">
				<div class="ui-list-item">
					<div class="ui-list-item-inner">
						<div class="am-form-group">
							<input type="text" class="am-input" name="email" autocomplete="off" maxlength="64" placeholder="邮箱（选填）以便我们给你回复">
						</div>
					</div>
				</div>
			</div>
            <div class="ui-list last">
                <div class="ui-list-item">
                    <div class="ui-list-item-inner">
                        <div class="am-form-group">
                            <textarea class="am-input" name="content" autocomplete="off" rows="5" maxlength="50" placeholder="请输入您的问题或建议（200字以内）"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12">
                <button type="submit" class="am-btn am-btn-primary am-btn-block btn-next">保存</button>
            </div>
        </form>
    </div>
</block>
