.top-banner {
    overflow: hidden;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    background-color: #999
}

.promotion {
    background-color: #fff;
    overflow: hidden;
    height: 120px;
    border-top: 1px solid #ddd
}

.promotion a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center
}

.promotion .pro-main {
    float: left;
    width: 50%;
    height: 120px;
    border-right: 1px solid #ddd
}

.promotion .pro-main a {
    padding-top: 15px
}

.promotion .pro-sub {
    margin-left: 50%;
    height: 60px
}

.promotion .pro-sub a {
    padding-top: 18px;
    color: #2e93e0
}

.promotion .pro-sub-2 {
    border-top: 1px solid #ddd
}

.promotion .pro-sub-2 a {
    color: #e43a3d
}

.category {
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0 0 10px 0;
    border-top: 1px solid #ddd
}

.category:before,.category:after {
    content: " ";
    display: table
}

.category:after {
    clear: both
}

.category li {
    float: left;
    width: 33.33333333%;
    height: 60px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.category li a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-indent: -500px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYtJREFUeNpiYBgF+AEjMuf/AqUEIFUPxAo0sOsCEDcyJtzbQJSDgI4xAFLnaRwAH4BYEeioD7gUMCGxBegQIyA7DPApYBpsaWjUQYQAC1GqhDQZGKy7ITTlYP//eAyxB0AcyMjIeIGwg9j4GBjclzEwXJzEwLB5Pm2CRStRgcG0Zv////8VmYgKnS9PGRiuzaddPIHMfncdnAOJS0O/PtE+8UDtGEa5DJS2BiyXIQMeGQYG380Q9mZfYPp6AkqUpDsQFEVY0iXpIcQjDbEchEHsAQ+hFycZGE63INiwXDJgDqKyA0brMvrkMmokZlDpD8qhFDtIJZiBQdycCg4COuZoGRUcdGHiaANt0DhIYDSECGT7A9DOHN5uCoN1FySnUQpA1c7OKPw9V2iH0QFFwKzOgEFQox+bZqoCUDNZwtwRI9sDe5UHUBwIapHDKtHRftmQcRANGmK4msSMxKgF9pfOM9xZa8Bwdy1tHKMcDMq5D4AdRUViHaTAQLtxI1jPtRHooAeDLQkxAAQYABuhYHz/2IZDAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 50% 50%
}

.ui-section {
    background-color: transparent;
    padding: 0;
    border: none
}

.ui-section-hd {
    padding: 10px;
    margin: 0;
    border: none
}

.ui-section-hd h3 {
    position: relative;
    float: none;
    font-size: 17px;
    text-align: center
}

.ui-section-bd {
    padding: 0 5px
}

.goods-grid .ys-grid-item {
    padding: 0 5px;
    margin-bottom: 10px
}

.goods-grid .ys-grid-item-inner {
    position: relative;
    background-color: #fff
}

.goods-grid .ys-grid-item-inner:before,.goods-grid .ys-grid-item-inner:after {
    content: " ";
    display: table
}

.goods-grid .ys-grid-item-inner:after {
    clear: both
}

.goods-grid .am-thumbnail-img {
    padding: 0
}

.goods-grid dl {
    height: 60px;
    padding: 0 5px;
    margin: 0
}

.goods-grid dl:before,.goods-grid dl:after {
    content: " ";
    display: table
}

.goods-grid dl:after {
    clear: both
}

.goods-grid dl dt {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px
}

.goods-grid dl dt a,.goods-grid dl dt a:active {
    color: #222
}

.goods-grid dl dt+dd {
    margin: 0
}

.goods-grid dl dd {
    line-height: 30px;
    font-size: 13px
}

.goods-grid dl .type {
    float: left;
    background-color: #2e93e0;
    overflow: hidden;
    width: 30px;
    height: 16px;
    margin-top: 7px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #fff
}

.goods-grid dl .money {
    float: right
}

.goods-grid dl .money label {
    font-size: 12px
}

.goods-grid dl .money i,.goods-grid dl .money em {
    color: #e43a3d
}

.goods-grid .time,.goods-grid .time-over {
    position: absolute;
    right: 1px;
    top: 1px;
    min-width: 55px;
    height: 20px;
    padding: 0 5px;
    line-height: 20px;
    text-align: center;
    color: #fff
}

.goods-grid .time label,.goods-grid .time-over label {
    display: none
}

.goods-grid .time span,.goods-grid .time-over span {
    z-index: 10;
    position: relative;
    color: #fff
}

.goods-grid .time em,.goods-grid .time-over em {
    color: #fff
}

.goods-grid .time:after,.goods-grid .time-over:after {
    content: ' ';
    z-index: 1;
    position: absolute;
    height: 20px;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
    opacity: 0.5
}

.goods-list {
    background-color: transparent;
    padding: 0 5px 20px 5px;
    border-width: 0
}

.goods-list .item {
    background-color: #fff;
    position: relative;
    height: 125px;
    padding: 0;
    margin-bottom: 5px;
    border-width: 0
}

.goods-list .item:before,.goods-list .item:after {
    content: " ";
    display: table
}

.goods-list .item:after {
    clear: both
}

.goods-list .item .am-img-thumbnail {
    float: left;
    width: 125px;
    height: 125px
}

.goods-list .item .img-center {
    padding: 0;
    border: 0
}

.goods-list .item .info {
    height: 125px;
    padding: 5px 10px;
    margin: 0 0 0 125px
}

.goods-list .item .info dt {
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 20px
}

.goods-list .item .info dt a,.goods-list .item .info dt a:active {
    color: #222
}

.goods-list .item .info dd {
    line-height: 20px
}

.goods-list .item .info dt+dd {
    margin-top: 0
}

.goods-list .item .info .money label,.goods-list .item .info .money i,.goods-list .item .info .money em {
    font-size: 12px;
    color: #666
}

.goods-list .item .info .money label {
    margin-right: 3px
}

.goods-list .item .info .reserve {
    position: absolute;
    right: 10px;
    top: 55px
}

.goods-list .item .info .reserve span {
    font-size: 12px
}

.goods-list .item .info .current i,.goods-list .item .info .current em {
    font-size: 17px;
    color: #e43a3d
}

.goods-list .item .info .type {
    background-color: #e43a3d;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 30px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    color: #fff
}

.goods-list .item .info .type.blue {
    background-color: #2e93e0
}

.goods-list .item .info .time,.goods-list .item .info .time-over {
    opacity: 0.75;
    background-color: #000;
    position: absolute;
    left: 30px;
    bottom: 0;
    height: 22px;
    width: 95px;
    padding: 0 5px;
    line-height: 22px;
    font-size: 12px;
    text-align: right;
    color: #fff
}

.goods-list .item .info .time label,.goods-list .item .info .time-over label {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARZJREFUeNq8VoENgyAQBOMAjuAIjsAIbFBHcAQ36AiOYDpB7QS6gSPUDei/eQyhFh+rXnIxEbx//uFQCgaMMQU8Mu/1IKWcxF6AaA68A0fzGz2w3CNeeyIVUDnUFPxNczAJxRHOSBDx5HxEwW2gkite7yhnHwxCS0ZUoWYDW0xmI8HCH1Q00DJ7owIJzOX1B1oayP8JsDqHloZoInaX2ujlopcA7eSHOAB0+DqriwFsQzpxHF7AudypF/lQYNMTcTJStzlrq6CdpYE3p5wTsx+DIF9BaE9YOwfHkB00TPtAmxmD25TOhhXVEXX/1uMetEgnVtFWwdk1q1bBNbsIqy+ut+vTL5xLrswzLn3JDWbNK/a35SPAAIw6Zi68i3AKAAAAAElFTkSuQmCC");
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    text-indent: 500px;
    vertical-align: -1px
}

.goods-list .item .info .time span,.goods-list .item .info .time-over span {
    z-index: 10;
    position: relative;
    color: #fff
}

.goods-list .item .info .time em,.goods-list .item .info .time-over em {
    color: #fff
}

a.btn-prev,a.btn-next {
    display: block;
    position: fixed;
    bottom: 25%;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
    opacity: 0.75
}

a.btn-prev {
    left: 0
}

a.btn-next {
    right: 0
}